<div class="container-fluid">
  <div class="container">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-body" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path( cocktail.photo, width: 400, height: 300, crop: :fill) %>');">
            <span class="card-category"><%= cocktail.name %></span>
            <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
            <div class="card-description">
              <h2>Seb's drink</h2>
              <p>Amazing drink</p>
            </div>
          </div>
          <div class="card-footer">
            <p>Created at 13/01/19</p>
            <div class="controls">
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-heart"></i></a>
              <a href="#"><i class="fa fa-share"></i></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
          <h4><%= link_to "+ Add Cocktail", new_cocktail_path %></h4>
      </div>
    </div>
  </div>
</div>
